.homVid {
    width: 100%; /* Make the video responsive to the container width */
    max-width: 750px; /* Set a max-width to limit the size */
    height: auto; /* Maintain aspect ratio */
    margin-top: 30px;
}
